.homepage {
  width: 100%;
  height: 100vh;
  background-image: url("./public/assets/bg.jpg");
  background-size: cover;
}

.buttonContainer {
  position: fixed;
  top: 36px;
  left: 0px;
  z-index: 80;
  width: 104px;
  height: calc(100vh - 36px);
  background: rgba(0, 0, 0, 0.8);
  user-select: none;
  font-family: "Roboto Mono", serif;
  transition: transform 0.5s ease-out;
}

.buttonContainer.closed {
  transform: translateX(-100%);
}

.buttonContainer2 {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 6px;
  padding: 5px 8px;
}

.buttonTitle {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.zoomButton {
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  width: 58px;
  text-align: center;
}

.zoomButton:hover {
  background: rgba(0, 0, 0, 1);
}

.zoomButton2 {
  font-size: 21px;
  font-weight: bold;
}

.positionButton {
  cursor: pointer;
  position: absolute;
}

.positionButton2 {
  color: #fff;
  font-size: 23px;
}

.positionButton2:hover {
  color: #f1f1f1;
}

.positionButtonContainer {
  height: 87px;
}

.up {
  margin-left: 40px;
  margin-top: 10px;
}

.down {
  margin-left: 40px;
  margin-top: 50px;
}

.left {
  margin-left: 20px;
  margin-top: 30px;
}

.right {
  margin-left: 60px;
  margin-top: 30px;
}

.resetButton {
  padding: 3px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 17px;
  margin-top: 7px;
  width: 58px;
  text-align: center;
}

.resetButton:hover {
  background: rgba(0, 0, 0, 1);
}

.resetButton2 {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
}

.closeContainer {
  width: 100%;
  height: 30px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 6px;
  user-select: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.closeContainer:hover {
  background: rgba(0, 0, 0, 0.7);
}

.closeContainer2 {
  color: white;
  font-size: 16px;
}

.openContainer {
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 100;
  width: 24px;
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  user-select: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: transform 0.3s ease-out;
}

.openContainer:hover {
  background: rgba(0, 0, 0, 0.7);
}

.openContainer2 {
  color: white;
  font-size: 20px;
}

.cameraFixed {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  bottom: 10px;
  color: #fff;
  width: 100%;
  height: 46px;
  text-align: center;
  left: 0;
}

.cameraFixedButtonContainer {
  background: rgba(0, 0, 0, 0.6);
  width: 240px;
  border-radius: 8px;
  overflow: hidden;
  user-select: none;
}

.cameraFixedButtonContainer div:first-of-type {
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 12px;
  background: rgba(0, 0, 0, 0.6);
  height: 26px;
}

.cameraFixedButtonWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 4px;
  padding-top: 0;
  justify-content: center;
}

.cameraFixedButtonWrapper p {
  width: 120px;
  font-size: 13px;
}

.selectionTitle {
  font-size: 30px;
  margin-bottom: 20px;
  padding-top: 120px;
  text-align: center;
}

.cardContainer {
  display: flex;
  align-items: start;
  gap: 20px;
  justify-content: space-between;
}

.selectionScreen {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.selectionCard {
  width: 32%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s;
  background: #fff;
}

.selectionCard:hover {
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.45);
  transform: scale(1.01);
  background: #f1f1f1;
}

.selectionCard img {
  transition: all 0.3s;
}

.selectionCard:hover img {
  filter: brightness(0.8);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  background: white;
  height: 36px;
  z-index: 10;
  box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, 0.25);
}

.selectionText {
  text-align: center;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 13px;
}

.logo {
  width: 80px;
  margin-left: 4px;
}

.github {
  width: 30px;
  margin-right: 8px;
  margin-top: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.github:hover {
  transform: scale(1.1);
}

.button:hover {
  color: #888;
  cursor: pointer;
}

.cameraButton {
  font-weight: bold;
  font-size: 22px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  padding: 6px;
  background-color: black;
}

.cameraButton:hover {
  background-color: #fff;
  color: black;
}

.cameraButton.disabled {
  background-color: #222;
  color: #999;
}

.cameraButtonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
}

.cameraSideButton {
  width: 40px;
  height: 30px;
  cursor: pointer;
  border-radius: 6px;
}

.cameraSideButtonSelected {
  background-color: #999;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  z-index: 1010;
  width: 90%;
  padding: 20px;
  max-width: 560px;
  height: 350px;
  border-radius: 8px;
  color: #444;
  font-size: 15px;
  line-height: 19px;
  box-shadow: 0px 7px 7px 0px rgb(0, 0, 0, 0.21);
}

.close {
  float: right;
  font-size: 27px;
  cursor: pointer;
}

.buttonVrWrapper {
  position: fixed;
  bottom: 74px;
  z-index: 110;
  width: 100%;
  text-align: center;
}

.buttonVr {
  text-align: center;
  width: 240px;
  height: 34px;
  cursor: pointer;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  border: none;
  color:white;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttonVr:hover {
  background: rgba(0, 0, 0, 0.9);
}
